.field-container{
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
    &__input{
        box-sizing: border-box;
        padding-top: .8rem ;
        padding-bottom: .8rem;
        width: 100%;
        padding-left: 2.5rem;
        border:1px solid #c2c2c2;
        border-radius: 5px;
        outline: none;
        background-color: transparent;
        color: var(--white);
        &::placeholder{
            color: var(--white);
            font-weight: 300;
        }
        &-submit{
            width: 100%;
            padding: .8rem;
            border: none;
            border-radius: 5px;
            font-weight: 600;
            color: var(--white);
            background: linear-gradient(90deg, var(--cyan), var(--blue));            
            @media screen and (min-width: 720px){
                cursor: pointer;
            }
        }
        &:invalid{
            border-color: red;
       }
    }
    &__input:invalid + &__icon{
        color: red;
    }
    &__icon{
        text-align: center;
        position: absolute;
        left: .8rem;
        top: 50%;
        transform: translateY(-50%);
        color: var(--white);
    }
}