.button{
    color: var(--white);
    display: flex;
    position: relative;
    font-weight: 500;
    z-index: 10;
    border: none;
    padding: 0;
    background-color: transparent;
    border-radius: 30px;
    padding: 1rem 2rem;
    &--color-cyan{
        background: linear-gradient(90deg, var(--cyan), var(--blue));
    }
    &--padding-none{
        padding: 0;
    }
    &--width-all{
        width: 100%;
    }
    &--hidden-min-width{
        display: none;
    }
    @media screen and (min-width: 720px){
        cursor: pointer;
        &--hidden-min-width{
            display: block;
        }
    }
}