.form{
    &__title, &__text{
        text-align: center;
        color: var(--white);
    }
    &__text{
        margin-bottom: 1.5rem;
    }
    &__footer{
        padding: 1rem;
    }
    &__link{
        color: var(--white);
        font-weight: 600;
        text-decoration: none;
    }
    @media screen and (min-width: 720px){
        &__link:hover{
            border-bottom: 1px solid var(--white);
        }
    }
}