@import './colors';
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: $primary-font;
    background-color: var(--dark-blue-100);
}
#root{
    position: relative;
}
img{
    max-width: 100%;
}
input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
}
button{
    outline: none;
}
.icon{
    margin-right: 10px;
}