.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:var(--dark-blue-100);
    padding: 1rem 1.5rem;
    position: sticky;
    z-index: 200;
    top: 0;
}
.nav{
    display: flex;
    align-items: center;
    font-size: .8rem;
}