.menu-user{
    position: absolute;
    right: 40%;
    background-color: var(--dark-blue-200);
    color: var(--white);
    border: 1px solid var(--white);
    box-shadow: 10px 10px 10px var(--dark-blue-300);
    border-top-left-radius:7px;
    border-bottom-left-radius:7px;
    border-bottom-right-radius:7px;
    width: 200px;
    padding:  1rem;
    &__title{
        margin-top: 0;
    }
}
.menu-links{
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    &__item{
        margin-bottom: 1rem;
        padding: 1rem 0;
        text-align: center;
        border-radius: 5px;
        &:last-of-type{
            margin-bottom: 0;
        }
        &:hover{
            cursor: pointer;
            background: linear-gradient(90deg, var(--blue), var(--cyan));
        }
    }
    &__link{
        text-align: center;
        color: var(--white);
        font-weight: 600;
        text-decoration: none;
    }
}